<div class="vertical-container" id="highscores">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#statesVsCountries" data-toggle="tab">States vs. Countries</a>
		</li>
		<li>
			<a href="#countries" data-toggle="tab">Countries</a>
		</li>
		<li>
			<a href="#states" data-toggle="tab">States</a>
		</li>
	</ul>
	<div class="container vertical-container">
		<div class="row text-center vertical-middle">
			<img src="img/ajax-loader.gif" id="loading-indicator" style="display:none" />
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table id="highScoreTable" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Score</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

</div>